extends ../layout

block title
  title IOOS ATN Help: #{title}

block subnav
  - var current = "help";
  include ../subnav

block content 
  .container.mt-3
    .row
      .col-md-4.col-lg-3.d-none.d-md-block
        .card.mb-3
          .card-header Table of Contents
          .card-body.help-toc
            | !{toc}

        if prev
          .card.mb-3
            .card-header Previous Topic
            .card-body
              p.card-text
                a(href=prev.link)=prev.title

        if next
          .card.mb-3
            .card-header Next Topic
            .card-body
              p.card-text
                a(href=next.link)=next.title

      .col-md-8.col-lg-9
        article.help-body !{body}

    .row
      .col-sm-12
        ul.nav
          li.nav-item.mr-auto
            a.nav-link(href="/help/") IOOS Animal Telemetry Network data portal documentation

